body {
    padding: 0px;
    margin: 0px;
}

.front-end {
    max-width: 1024px;
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid #CCC;
    border-radius: 3px;
    background-color: whitesmoke;
}